<div class="image-with-text">
    {% if image_url %}
        <img src="{{ image_url }}" alt="{{ image_alt | default: 'Image Alt Text' }}" class="image">
    {% else %}
        {% render 'product-card-placeholder' %}
    {% endif %}
    <div class="text-container">
        <h2>{{ heading | default: 'Heading Text' }}</h2>
        <p>{{ description | default: 'Description of the image and text' }}</p>
    </div>
</div>





{% schema %}
  {
    "name": "Image",
    "settings": [
              {
            "type": "text",
            "id": "title",
            "label": "Title"
        }
    ],
    "presets": [
        {
            "name": "Image"
        }
    ]
  }
{% endschema %}















