<div class="image-with-text">
    <img src="{{ image_url }}" alt="{{ image_alt }}" class="image">
    <div class="text-container">
        <h2>{{ heading }}</h2>
        <p>{{ description }}</p>
    </div>
</div>




{% schema %}
  {
    "name": "Image",
    "settings": [
              {
            "type": "text",
            "id": "title",
            "label": "Title"
        }
    ],
    "presets": [
        {
            "name": "Image"
        }
    ]
  }
{% endschema %}















